<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    />
    <title>CRUD</title>
  </head>
  <body class="bg-dark text-white">
    <%- include('partials/header')%> <%- include('partials/config')%>

    <main class="container" id="container">
      <form
        method="post"
        action="/register"
        class="mt-2 text-bg-dark border border-warning p-3 mt-4 rounded"
      >
        <div>
          <p class="fw-bold fs-1 text-center">Cadastrar novo usuário</p>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Nome</span>
            <input
              type="text"
              class="form-control"
              aria-describedby="basic-addon1"
              name="name"
              placeholder="Nome completo"
              required
            />
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Cargo</span>
            <input
              type="text"
              class="form-control"
              aria-describedby="basic-addon1"
              name="office"
              placeholder="Função"
              required
            />
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Email</span>
            <input
              type="email"
              class="form-control"
              aria-describedby="basic-addon1"
              name="email"
              placeholder="xxxxxx@xxxxx.xxx"
              required
            />
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Telefone</span>
            <input
              type="tel"
              class="form-control"
              aria-describedby="basic-addon1"
              name="phone"
              placeholder="xxxxxxxxxxx (Apenas números)"
              required
            />
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">Selecione tipo de permissão</span>
            <select
              class="form-select"
              name="permission"
              aria-label="Default select example"
            >
              <option selected value="estagiario">Estagiário</option>
              <option selected value="padrao">Padrão</option>
              <% if (admin == "admin") { %>
              <option value="admin">Admin</option>
              <% } %>
            </select>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Senha</span>
            <input
              type="password"
              class="form-control"
              aria-describedby="basic-addon1"
              name="password"
              minlength="6"
              placeholder="Senha deverá conter no mínimo 6 caracters*"
              required
            />
          </div>

          <div class="d-flex justify-content-end gap-2">
            <a href="/login" class="btn btn-info w-75">Entrar</a>
            <a href="/" class="btn btn-danger w-25">Cancelar</a>
            <button id="btn" class="btn btn-success w-25">Salvar</button>
          </div>
        </div>
      </form>
    </main>

    <script>
      let name = document.getElementsByName("name");
      let office = document.getElementsByName("office");
      let email = document.getElementsByName("email");
      let phone = document.getElementsByName("phone");
      let password = document.getElementsByName("password");
      let form = document.querySelector("form");
      const btn = document
        .getElementById("btn")
        .addEventListener("click", (e) => {
          e.preventDefault();
          if (
            name[0].value === "" ||
            office[0].value === "" ||
            email[0].value === "" ||
            phone[0].value === "" ||
            password[0].value === "" ||
            password[0].value.length < 6
          ) {
            alert("Preencha todos os dados.");
          } else {
            form.submit();
          }
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/scripts/script.js"></script>
    <script src="/scripts/theme.js"></script>
  </body>
</html>
